<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">JNTUACEP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Branch
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'civil' %}">CIVIL</a>
            <a class="dropdown-item" href="{% url 'eee' %}">EEE</a>
            <a class="dropdown-item" href="{% url 'mech' %}">MECH</a>
            <a class="dropdown-item" href="{% url 'ece' %}">ECE</a>
            <a class="dropdown-item" href="{% url 'cse' %}">CSE</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'results' %}">Results</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
        </li>  
        {% if not request.session.username %}
        <li class="nav-item">
          <a href="{% url 'signup' %}" class="nav-link" >Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'signin' %}" class="nav-link">Sign In</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link btn btn-danger">Logout</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'profile' %}" class="nav-link active">welcome, {% if request.session.username %} {{request.session.username}}  {% endif %}
          </a>
        </li>
        {% endif %}

      </ul>
    </div>
  </nav>